* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 16px;
    height: 100px;
    position: relative;
    align-items: center;
}
.chart-aligner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 32px;
}
.chart {
    max-width: 500px;
    margin: 0 auto;
}
.search {
    padding: 8px 16px;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 100px;
    width: 150px;
}
.point-count {
    padding: 8px 16px;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 100px;
    width: 100px;
}
.title {
    text-align: center;
    margin-bottom: 8px;
}
.search::placeholder {
    font-family: inherit;
}
.log {
    height: 250px;
    overflow: auto;
    font-size: 80%;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 16px;
    /* Hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.log ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.log li {
    list-style: none;
    display: flex;
    gap: 4px;
}
.log-time {
    opacity: 0.5;
}
.log-entry-cont {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.gps {
    position: absolute;
    top: 16px;
    right: 16px;
    height: calc(100% - 32px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    min-width: 130px;
}
.satelite-fix-indicator {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: red;
    transition: 0.15s ease background-color;
}
.satelite-fix-indicator.fix {
    background-color: green;
}
.satelite-count {
    font-size: 80%;
    opacity: 0.5;
}
.lat-lon {
    font-weight: bold;
    font-size: 80%;
}
